* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v10_2 {
  width: 100%;
  height: 1080px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_3 {
  width: 100%;
  height: 1080px;
  background: rgba(255,240,164,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_38 {
  width: 534px;
  height: 523px;
  background: url("../images/v3_38.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 46px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v3_174 {
  width: 590px;
  height: 124px;
  background: rgba(245,245,245,1);
  opacity: 1;
  position: absolute;
  top: 822px;
  left: 643px;
  overflow: hidden;
}
.v3_175 {
  width: 291px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 854px;
  left: 793px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_182 {
  width: 121px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 832px;
  left: 651px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_183 {
  width: 595px;
  height: 124px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 822px;
  left: 920px;
  overflow: hidden;
}
.v3_192 {
  width: 595px;
  height: 124px;
  background: rgba(255,223,141,1);
  opacity: 1;
  position: absolute;
  top: 822px;
  left: 920px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v3_193 {
  width: 365px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 855px;
  left: 721px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_194 {
  width: 157px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 836px;
  left: 899px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_201 {
  width: 590px;
  height: 140px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 526px;
  left: 915px;
  overflow: hidden;
}
.v3_204 {
  width: 590px;
  height: 140px;
  background: rgba(255,223,141,1);
  opacity: 1;
  position: absolute;
  top: 526px;
  left: 915px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v3_205 {
  width: 269px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 553px;
  left: 654px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_206 {
  width: 214px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 543px;
  left: 900px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_207 {
  width: 590px;
  height: 539px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 643px;
  overflow: hidden;
}
.v3_208 {
  width: 501px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 181px;
  left: 682px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v3_209 {
  width: 194px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 62px;
  left: 689px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_210 {
  width: 590px;
  height: 539px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 643px;
  overflow: hidden;
}
.v3_211 {
  width: 501px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 181px;
  left: 682px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v3_212 {
  width: 194px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 62px;
  left: 689px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_214 {
  width: 501px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 181px;
  left: 682px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v3_215 {
  width: 194px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 62px;
  left: 689px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_216 {
  width: 590px;
  height: 425px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 643px;
}
.v3_217 {
  width: 501px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 181px;
  left: 682px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v3_218 {
  width: 194px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 62px;
  left: 689px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_221 {
  width: 194px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 62px;
  left: 689px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_222 {
  width: 590px;
  height: 431px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 643px;
  overflow: hidden;
}
.v3_227 {
  width: 156px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 62px;
  left: 667px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}
.v3_228 {
  width: 144px;
  height: 129px;
  background: url("../images/v3_228.png");
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 855px;
}
.v3_229 {
  width: 501px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 205px;
  left: 692px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v3_231 {
  width: 590px;
  height: 213px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 596px;
  left: 643px;
  overflow: hidden;
}
.v3_232 {
  width: 316px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 647px;
  left: 784px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v3_233 {
  width: 117px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 612px;
  left: 667px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_234 {
  width: 590px;
  height: 213px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 596px;
  left: 643px;
  overflow: hidden;
}
.v3_235 {
  width: 316px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 647px;
  left: 784px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v3_236 {
  width: 117px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 612px;
  left: 667px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_237 {
  width: 590px;
  height: 213px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 596px;
  left: 643px;
  overflow: hidden;
}
.v3_238 {
  width: 316px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 647px;
  left: 784px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v3_239 {
  width: 117px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 612px;
  left: 667px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_240 {
  width: 590px;
  height: 213px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 596px;
  left: 643px;
  overflow: hidden;
}
.v3_241 {
  width: 316px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 647px;
  left: 784px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v3_242 {
  width: 117px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 612px;
  left: 667px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_243 {
  width: 590px;
  height: 213px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 596px;
  left: 643px;
  overflow: hidden;
}
.v3_244 {
  width: 316px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 647px;
  left: 784px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v3_245 {
  width: 117px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 612px;
  left: 667px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_246 {
  width: 590px;
  height: 213px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 596px;
  left: 643px;
  overflow: hidden;
}
.v3_247 {
  width: 316px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 647px;
  left: 784px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v3_248 {
  width: 117px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 612px;
  left: 667px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_249 {
  width: 590px;
  height: 213px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 596px;
  left: 643px;
  overflow: hidden;
}
.v3_252 {
  width: 590px;
  height: 213px;
  background: rgba(255,223,141,1);
  opacity: 0.25;
  position: absolute;
  top: 596px;
  left: 643px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v3_250 {
  width: 335px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 661px;
  left: 832px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v3_254 {
  width: 216px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 612px;
  left: 667px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_267 {
  width: 590px;
  height: 78px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 709px;
  left: 915px;
  overflow: hidden;
}
.v3_268 {
  width: 285px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 743px;
  left: 753px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_269 {
  width: 116px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 718px;
  left: 899px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_270 {
  width: 590px;
  height: 78px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 709px;
  left: 915px;
  overflow: hidden;
}
.v3_271 {
  width: 285px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 743px;
  left: 753px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_272 {
  width: 116px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 718px;
  left: 899px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_273 {
  width: 590px;
  height: 78px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 709px;
  left: 915px;
  overflow: hidden;
}
.v3_274 {
  width: 285px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 743px;
  left: 753px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_275 {
  width: 116px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 718px;
  left: 899px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_276 {
  width: 590px;
  height: 78px;
  background: rgba(255,223,141,1);
  opacity: 1;
  position: absolute;
  top: 709px;
  left: 915px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v3_277 {
  width: 285px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 731px;
  left: 753px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_278 {
  width: 139px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 718px;
  left: 892px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_279 {
  width: 590px;
  height: 94px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 915px;
  overflow: hidden;
}
.v3_280 {
  width: 271px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 71px;
  left: 758px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v3_281 {
  width: 123px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 47px;
  left: 897px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_282 {
  width: 590px;
  height: 94px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 915px;
  overflow: hidden;
}
.v3_283 {
  width: 271px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 71px;
  left: 758px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v3_284 {
  width: 123px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 47px;
  left: 897px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_285 {
  width: 590px;
  height: 94px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 915px;
  overflow: hidden;
}
.v3_286 {
  width: 271px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 71px;
  left: 758px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v3_287 {
  width: 123px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 47px;
  left: 897px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_288 {
  width: 590px;
  height: 94px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 915px;
  overflow: hidden;
}
.v3_289 {
  width: 271px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 71px;
  left: 758px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v3_290 {
  width: 123px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 47px;
  left: 897px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_291 {
  width: 590px;
  height: 94px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 915px;
  overflow: hidden;
}
.v3_292 {
  width: 271px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 71px;
  left: 758px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v3_293 {
  width: 123px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 47px;
  left: 897px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_294 {
  width: 590px;
  height: 94px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 915px;
  overflow: hidden;
}
.v3_295 {
  width: 271px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 71px;
  left: 758px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v3_296 {
  width: 123px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 47px;
  left: 897px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_297 {
  width: 590px;
  height: 104px;
  background: rgba(255,223,141,1);
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 915px;
  overflow: hidden;
}
.v3_298 {
  width: 271px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 71px;
  left: 758px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v3_299 {
  width: 144px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 47px;
  left: 897px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_325 {
  width: 590px;
  height: 145px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 173px;
  left: 915px;
  overflow: hidden;
}
.v3_326 {
  width: 266px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 217px;
  left: 753px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v3_327 {
  width: 135px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 192px;
  left: 893px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_328 {
  width: 590px;
  height: 145px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 173px;
  left: 915px;
  overflow: hidden;
}
.v3_329 {
  width: 266px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 217px;
  left: 753px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v3_330 {
  width: 135px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 192px;
  left: 893px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_331 {
  width: 590px;
  height: 145px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 173px;
  left: 915px;
  overflow: hidden;
}
.v3_332 {
  width: 266px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 217px;
  left: 753px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v3_333 {
  width: 135px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 192px;
  left: 893px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_334 {
  width: 590px;
  height: 145px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 173px;
  left: 915px;
  overflow: hidden;
}
.v3_335 {
  width: 266px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 217px;
  left: 753px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v3_336 {
  width: 135px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 192px;
  left: 893px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_337 {
  width: 590px;
  height: 145px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 173px;
  left: 915px;
  overflow: hidden;
}
.v3_338 {
  width: 266px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 217px;
  left: 753px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v3_339 {
  width: 135px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 192px;
  left: 893px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_340 {
  width: 590px;
  height: 145px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 173px;
  left: 915px;
  overflow: hidden;
}
.v3_341 {
  width: 266px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 217px;
  left: 753px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v3_342 {
  width: 135px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 192px;
  left: 893px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_343 {
  width: 590px;
  height: 145px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 173px;
  left: 915px;
  overflow: hidden;
}
.v3_344 {
  width: 266px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 217px;
  left: 753px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v3_345 {
  width: 135px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 192px;
  left: 893px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_346 {
  width: 590px;
  height: 145px;
  background: rgba(255,223,141,1);
  opacity: 1;
  position: absolute;
  top: 173px;
  left: 915px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v3_347 {
  width: 309px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 217px;
  left: 753px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v3_348 {
  width: 135px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 196px;
  left: 888px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v3_349 {
  width: 590px;
  height: 127px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 357px;
  left: 915px;
  overflow: hidden;
}
.v3_350 {
  width: 269px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 402px;
  left: 737px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_351 {
  width: 120px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 373px;
  left: 900px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_352 {
  width: 590px;
  height: 127px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 357px;
  left: 915px;
  overflow: hidden;
}
.v3_353 {
  width: 269px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 402px;
  left: 737px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_354 {
  width: 120px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 373px;
  left: 900px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_356 {
  width: 269px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 402px;
  left: 737px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_357 {
  width: 120px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 373px;
  left: 900px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v3_358 {
  width: 590px;
  height: 127px;
  background: rgba(255,223,141,1);
  opacity: 1;
  position: absolute;
  top: 357px;
  left: 915px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v3_359 {
  width: 269px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 402px;
  left: 737px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_360 {
  width: 142px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 373px;
  left: 900px;
  font-family: Inter;
  font-weight: Regular;
  opacity: 1;
  text-align: left;
}
.v3_364 {
  width: 71px;
  height: 71px;
  background: url("../images/v3_364.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 862px;
  left: 667px;
  overflow: hidden;
}
.v3_366 {
  width: 107px;
  height: 95px;
  background: url("../images/v3_366.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 468px;
  overflow: hidden;
}
.v3_369 {
  width: 160px;
  height: 160px;
  background: url("../images/v3_369.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 640px;
  left: 663px;
  overflow: hidden;
}
.v3_371 {
  width: 484px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 586px;
  left: 60px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-weight: Regular;
  font-size: 70px;
  opacity: 1;
  text-align: center;
}
.v10_5 {
  width: 107px;
  height: 128px;
  background: url("../images/v10_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 357px;
  left: 468px;
  overflow: hidden;
}
.v10_6 {
  width: 104px;
  height: 97px;
  background: url("../images/v10_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 220px;
  left: 897px;
  overflow: hidden;
}
